# GitHub Secrets must be configured in the GitHub repository settings,
# NOT in this file. This file is only a reference of the expected names.
#
# Chrome Web Store publishing (from automated-extension repo workflows):
CHROME_EXTENSION_ID=
CHROME_PUBLISHER_ID=
CHROME_CLIENT_ID=
CHROME_CLIENT_SECRET=
CHROME_REFRESH_TOKEN=
#
# Microsoft Edge Add-ons publishing:
EDGE_PRODUCT_ID=
EDGE_CLIENT_ID=
EDGE_API_KEY=
